

.button_sending {
	background-image:
		url('/resources/img/loading.gif') !important;
    background-size: 25px 25px;
	background-repeat: no-repeat !important;
	background-position: 5px 5px !important;	 
	padding-left: 35px !important;
	padding-right: 35px !important;
	vertical-align: middle !important;	
}

.button_sending:hover {
	background-image:
		url('/resources/img/loading.gif') !important;
    background-size: 25px 25px;
	background-repeat: no-repeat !important;
	background-position: 3px 3px !important;
	/*height: 35px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
	vertical-align: middle !important;
	width: 100px;*/
}

.successMessage{
	color:green;	
}

.errorMessage{
	color:red;	
}

.alert-danger {
	background-color: #c5496f;
    border-color: #c5496f;

	}